<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Please give feedback on your semester</p>

  <form method = "post" action="/cool_url">
    <br>
    <br>


    Select course:
    <select name="post[subject]">
      <option value="Maths"    >Maths</option>
      <option value="Economics">Economics</option>
      <option value="Geography">Geography</option>
    </select><br><br>



    Feedback:
    <textarea cols="40" rows="5" name="feedback"></textarea>
    <br><br>

    I really enjoyed this course:<br> 
    <br> 

    Absolutely agree    
    <input type="radio" name="rating" value="5"><br> 
    Agree   
    <input type="radio" name="rating" value="4"><br> 
    Neutral   
    <input type="radio" name="rating"value="3"><br> 
    Disagree    
    <input type="radio" name="rating" value="2"><br> 
    Absolutely Disagree   
    <input type="radio" name="rating" value="1"><br> 
    <br> 
    <input type="submit" value="submit">
  </form>









<!--   <table>
    <tr>
      <th>File Description</th>
      <th>File Location</th>
    </tr>
    <tr>
      <td>This view file</td>
      <td><code><%= __FILE__.gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The layout file</td>
      <td><code><%= File.expand_path('../layout.erb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The current controller</td>
      <td><code><%= File.expand_path('../../controllers/index.rb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
  </table> -->
</div>
